%div
  .pull-right= link_to 'フロント側で確認', u_article_path(current_user.screen_name, @article.id)

%h1
  = @article.title

.well
  = raw @article.body

%div
  状態: #{@article.aasm_state}

%div
  公開日時: #{safe_date_localize @article.published_at}

%div{style: 'margin-top: 20px;'}
  = link_to '編集する', edit_home_article_path(@article), class: 'btn btn-default btn-lg'
  - if @article.draft?
    = link_to '公開する', publish_home_article_path, class: 'btn btn-default btn-lg', method: :post
  - elsif @article.published?
    = link_to '下書きにする', draft_home_article_path, class: 'btn btn-default btn-lg', method: :post

  .pull-right
    = link_to '削除する', [:home, @article], :method => :delete, :data => { :confirm => '本当によろしいですか?' }, class: 'btn btn-danger btn-lg'
