.page-header
  %h1 ログイン


= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), layout: :horizontal) do |f|

  = f.email_field :email, autofocus: true

  = f.password_field :password, autocomplete: "off"

  - if devise_mapping.rememberable?
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.check_box :remember_me

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit '送信', class: 'btn btn-primary btn-lg'

= render "devise/shared/links"
